@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800,800i,900,900i&display=swap');

body {
    background: #4e555b;
    background: url("../images/fuji-1920x1080-wallpaper.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Nunito, sans-serif;
}

/* Simple text */

h1 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    font-weight: 600;
}

h4 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-weight: 600;
}

h5 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-weight: 600;
}

/* Search section */

.search-container {
    text-align: center;
}

#search {
    text-align: center;
    width: 60%;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 20px;
}

/* Search type */

.type-container ul {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.type-container i {
    background-color: #206f74;
    border-radius: 15px;
    padding: 5px;
    height: 100px;
    width: 130px;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.type-container i:hover {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

#bar i {
    padding: 8px;
}

.type-container p {
    font-weight: 800;
}

/* Footer */

footer {
    background-color: #435e80;
    opacity: 0.9;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer ul {
    padding: 0 !important;
}

.col-lg-6 {
    padding: 0;
}

footer p {
    padding-top: 15px;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

/* Social links */

.social-links-container {
    padding-top: 1px;
}

.social-links-container ul {
    margin: 0;
}

.social-links-container i {
    color: #0d4500;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.social-links-container i:hover {
    transition: all 0.5s ease-in-out;
    color: #091a8d;
}