@import url('https://fonts.googleapis.com/css?family=Nunito:400,700,800,800i,900,900i&display=swap');

body {
    background: #4e555b;
    background: url("../images/fuji-1920x1080-wallpaper.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Nunito, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Header */

.header-container {
    background: #3B4C6D;
}

.header-container, a:link, a:hover, a:visited, a:active {
    text-decoration: none;
    color: greenyellow;
}

.envelop {
    text-align: right;
    font-size: 25px;
    font-weight: 700;
}

/* Simple text */

h1 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    font-weight: 600;
}

h4 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-weight: 600;
}

h5 {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    font-weight: 600;
}

/* Search section */

.search-container {
    text-align: center;
}

#search {
    text-align: center;
    width: 60%;
    font-size: 30px;
    margin: 0 auto;
    border-radius: 20px;
}

/* Search type */

.type-container ul {
    padding-top: 20px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.type-container i {
    background-color: #206f74;
    border-radius: 15px;
    padding: 5px;
    height: 100px;
    width: 130px;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.type-container i:hover {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    cursor: pointer;
}

#bar i {
    padding: 8px;
}

.type-container p {
    font-weight: 800;
}

/* Map */

.map-container {
    height: 450px;
    margin-bottom: 25px;
}

#map {
    margin: 0 auto;
    width: 80%;
    height: 100%;
    border-radius: 25px;
}

/* Places */

#places {
    width: 55%;
    margin: 20px auto 20px auto;
    display: contents;
    text-align: center;
    padding: 0 !important;
}

#places li {
    width: 55%;

    margin: 2px auto 2px auto;
    background-color: #f1f1f1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 10px;
}

#places li:nth-child(odd) {
    background-color: #fcfcfc;
}

/* More places button */

#more {
    display: none;
    width: 30%;
    margin: 5px auto 30px auto;
    text-align: center;
    border-radius: 25px;
}

.reset-button-container {
    text-align: center;
    margin-bottom: 5%;
}

#reset {
    display: none;
    width: 150px;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 10px;
    margin: 0 auto 15px auto;
}

/* Footer */

footer {
    background-color: #435e80;
    opacity: 0.9;
    left: 0;
    bottom: 0;
    text-align: center;
}

footer ul {
    padding: 0 !important;
}

.col-lg-6 {
    padding: 0;
}

footer p {
    padding-top: 15px;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

/* Social links */

.social-links-container {
    padding-top: 1px;
}

.social-links-container ul {
    margin: 0;
}

.social-links-container i {
    color: #0d4500;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.social-links-container i:hover {
    transition: all 0.5s ease-in-out;
    color: #091a8d;
}

/*
###########################
###### CONTACT PAGE #######
###########################
*/
.contact-container {
    text-align: center;
}

.contact-container h3 {
    text-align: center;
    font-family: 'Nunito', cursive;
    margin: 5% auto;
    width: 70%;
    color: black;
    font-size: 35px;
    font-weight: 700;
}

.contact-container input {
    margin: 2% 0;
}

.form-container {
    margin-bottom: 20px;
}

.form-position {
    margin: 2% auto;
    max-width: 60%;
    text-align: center;
}

button[type="submit"] {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #3B4C6D;
    border: transparent;
    color: #fafafa;
    transition: all 1.2s ease-in-out;
}

button[type="submit"]:hover {
    background-color: #7A8062;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    transition: all 1.2s ease-in-out;
}

/* Media queries */

@media (max-width: 1270px) {
    .social-links-container li {
        margin-top: 11px;
    }
}

@media (max-width: 992px) {

    #places ul {
        margin: 0 auto;
        text-align: center;
    }

    footer p, ul {
        margin: 0 !important;
        padding: 0;
    }

    .social-links-container li {
        padding: 0 3px 3px;
        margin: 0;
    }
}

@media (max-width: 768px) {

    .contact-container h3 {
        font-size: 25px;
    }

    #search {
        font-size: 24px;
        width: 80%;
    }

    .type-container i {
        padding: 0;
        width: 95px;
        height: 70px;
        font-size: 63px;
    }

    #bar i {
        padding-top: 3px;
    }

    #map {
        width: 90%;
    }

    #more {
        margin-bottom: 30px;
    }

    footer {
        position: inherit;
    }

    footer p, ul {
        margin: 0 !important;
        padding: 0;
    }

    .social-links-container {
        padding: 0;
    }
}